.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.profile-img {
  width: 100px;
}

.user-name {
  font-size: 18px;
  color: #12022f;
}

.user-detail {
  font-size: 14px;
  color: #616e7c;
}

@media all and (min-width: 768px ) {
    .profile-img {
    width: 150px;
    }

    .user-name {
    font-size: 24px;
    }

    .user-detail {
    font-size: 20px;
    }
}